# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# PyInstaller
build/
*.spec

# Local history / user data
elehant_history.csv
*.csv

# Logs
*.log

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.bak
*.old

# Local ZIP archives
*.zip

# Local EXE builds
dist/
